*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}
.container{
    max-width: 100%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul,ol{
    list-style: none;
}
.justify-content{
    justify-content: space-between;
}
.align-items{
    align-items: center;
}
.padding{
    padding: 20px 0px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12{
    padding: 10px;   
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: rgb(88, 86, 86);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#30ff00);
    border-radius: 16px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#00c6ff);
}
    .col-xs-1{width: 8.333%;}
    .col-xs-2{width: 16.666%;}
    .col-xs-3{width: 25%;}
    .col-xs-4{width: 33.333%;}
    .col-xs-5{width: 41.666%;}
    .col-xs-6{width: 50%;}
    .col-xs-7{width: 58.333%;}
    .col-xs-8{width: 66.666%;}
    .col-xs-9{width: 75%;}
    .col-xs-10{width: 83.333%;}
    .col-xs-11{width: 91.666%;}
    .col-xs-12{width: 100%;}

//   HEADER SECTION DESIGN CSS

html{
    scroll-behavior: smooth;
}

.Signup{
    display: none;
    width: 350px;
    height: 600px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.372);
    position: fixed;
    top: 0px;
    left: -10px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    z-index: 9999999;
    .Signup-close{
        font-size: 20px;
        position: absolute;
        left: 10px;
        top: 10px;
        cursor: pointer;
    }
    .signup-box{

        padding: 0px 20px;
        .hr{
            margin-bottom: 10px;
            width: 100%;
        }
        h3{
            text-align: center;
            margin: 10px;
            text-transform: uppercase;
        }
        .form{
            padding: 20px;
            .input-div{
                label{
                    margin: 0px 10px;
                    padding-left: 10px;
                    font-size: 15px;
                    text-transform: capitalize;
                }
                input{
                    width: 100%;
                    padding: 10px;
                    margin: 5px 0px 5px 10px;
                    border: 1px solid black;
                    // border: none;
                    &:focus{
                        border: 2px solid green;
                    }
                }
                .p-username{
                    padding: 0px 20px;
                    font-size: 10px;
                    color: red;
                    display: none;
                }
                .p-email{
                    padding: 0px 20px;
                    font-size: 10px;
                    color: red;
                    display: none;
                }
                .p-password{
                    padding: 0px 20px;
                    font-size: 10px;
                    color: red;
                    display: none;
                }

    
            }
            .input-checkbox{
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                .checkbox{
                    display: flex;
                    flex-wrap: nowrap;
                    padding:5px 15px;
                    p{
                        font-size: 12px;
                        padding-left: 5px;
                    }
                }
                h6{
                    margin-right: 0px;
                    color: blue;
                    border-bottom:1px solid blue;
                    cursor: pointer;
                    text-transform: capitalize;
                    font-size: 11px;
                }
            }
            .button{
                display: block;
                margin: auto;
                margin-top: 20px;
                padding: 10px 50px;
                background-color: rgb(0, 72, 255);
                color: white;
                font-size: 15px;
                border: none;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
    .other{
        margin-bottom: 10px;
    }
    .google{
        position: relative;
        width: 60%;
        margin: 10px 70px;
        margin-top: 0px;
            input{
                padding: 10px;
                width: 100%;
                text-align: center;
                border-radius: 20px;
                border: 1px solid black;
            cursor: pointer;
            }
            img{
            width: 25px;
            position: absolute;
            left: 5%;
            top: 0px;
            bottom: 0px;
            margin: auto;
        }
        p{
            position: absolute; 
            left:20%;
            top: 0px;
            bottom: 0px;
            font-size: 14px;
            text-align: center;
            padding: 5px 0px 0px 0px;
            text-transform: capitalize; 
            cursor: pointer;
        }
    }
    .loginLink{
        color: black;
        text-align: center;
        font-size: 12px;
        padding: 5px 0px;
        text-transform: capitalize;
        a{
            padding: 0px 5px;
            font-size: 14px;
            color: blue;
        }
    }
}


.Login{
    display: none;
    width: 350px;
    height: 600px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.372);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    z-index: 999999;
    .Login-close{
        font-size: 20px;
        position: absolute;
        left: 10px;
        top: 10px;
        cursor: pointer;
    }
    .Login-box{
        padding: 20px 35px;
        .hr{
            margin-bottom: 10px;
            width: 100%;
        }
        h3{
            text-align: center;
            margin: 10px;
            text-transform: uppercase;
        }
        .Login-form{
            padding: 20px;
            .Login-div{
                label{
                    margin: 0px 10px;
                    padding-left: 10px;
                    font-size: 15px;
                    text-transform: capitalize;
                }
                input{
                    width: 100%;
                    padding: 10px;
                    margin: 5px 0px 5px 10px;
                    border: 1px solid black;
                    // border: none;
                    &:focus{
                        border: 2px solid green;
                    }
                }
    
            }
            .Login-checkbox{
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                .checkbox{
                    display: flex;
                    flex-wrap: nowrap;
                    padding:5px 15px;
                    p{
                        font-size: 12px;
                        padding-left: 5px;
                    }
                }
                h6{
                    margin-right: 0px;
                    color: blue;
                    border-bottom:1px solid blue;
                    cursor: pointer;
                    text-transform: capitalize;
                    font-size: 11px;
                    a{
                        text-decoration: none;
                    }
                }
            }
            .button{
                display: block;
                margin: auto;
                margin-top: 20px;
                padding: 10px 50px;
                background-color: rgb(0, 72, 255);
                color: white;
                font-size: 15px;
                border: none;
                border-radius: 10px;
                cursor: pointer;
            } 
        }
    }
    .other{
        margin-bottom: 10px;
    }
    .Login-google{
        position: relative;
        width: 60%;
        margin: 10px 70px;
        margin-top: 0px;
            input{
                padding: 10px;
                width: 100%;
                text-align: center;
                border-radius: 20px;
                border: 1px solid black;
            cursor: pointer;
            }
            img{
            width: 25px;
            position: absolute;
            left: 5%;
            top: 0px;
            bottom: 0px;
            margin: auto;
        }
        p{
            position: absolute; 
            left:20%;
            top: 0px;
            bottom: 0px;
            font-size: 14px;
            text-align: center;
            padding: 5px 0px 0px 0px;
            text-transform: capitalize; 
            cursor: pointer;
        }
    }
    .SignupLink{
        color: black;
        text-align: center;
        font-size: 12px;
        padding: 5px 0px;
        text-transform: capitalize;
        a{
            padding: 0px 5px;
            font-size: 14px;
            color: blue;
        }
    }
}


header{
    background-color: #FDF5E6;
    .header-menu{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .logo{
            width: 50px;
            height: 50px;
            img{
                width: 80px;
            }
        }
        .nav{
            position: absolute;
            top: 50px;
            right: 500px;
            padding: 20px;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.28);
            // display: none;
            transition: all 0.3s;
            
            li{
                padding: 5px;
            }
            .btn{
                cursor: pointer;
                button{
                    display: block;
                    padding: 10px 30px;
                    border: 1px solid black;
                    border-radius: 10px;
                    background-color: #008CBA;
                    margin: 10px 0px;
                    text-transform: uppercase;
                    color: white;
                    &:hover{
                        background-color: #18abdc;
                    }
                }
            }
        }
        .active{
            right: 0px;
            z-index: 99999;
        }
        .btn-login{
            transform: scale(0);
        }
        .menu-icon{
            font-size: 20px;
            padding: 10px;
            #H-xmark{
                display: none;
            }
        }
    }
}
// .benner{
//     background-color: #FDF5E6;
//     width: 100%;
//     // height: 100vh;
//     padding: 70px;
//     overflow: hidden;
//     z-index: -1;
//     img{
//         width: 94%;
//         height: 95%;
//         position: absolute;
//         top: 0px;
//     }
//     .col{
//         width: 50%;
//         // border: 1px solid black;
//         .conatin{
//             padding: 100px 30px;
//             padding-left: 100px;
//             h1{
//                 font-size: 50px;
//                 font-weight: 500;
//                 word-spacing: 5px;
//                 letter-spacing: 2px;
//                 padding-left: 25px;
//                 // margin: 10px;
//                 padding-bottom: 20px;
//             }
//             p{
//                 width: 365px;
//                 padding-left: 25px;
//                 font-size: 15px;
//             }
//         }
//         .benner-img{
//             width: 50%;
//             background-image: url(../Image/benner-2.png);
//             background-size: cover;
//             padding: 200px;
//         }
//     }
// }
.col-xs-12{
    // border: 2px solid black;
    .box{
        border: 2px solid black;
        width: 100%;
        .box-grid{
            display: grid;
            grid-template-rows:auto auto ;
            grid-template-columns:auto auto;
            gap: 10px;
            padding: 20px;
            .bo{
                border: 2px dotted red;
                padding: 60px;
            }
            // #box-1{
            //     width: 114px;
            //     height: 150px;
            // }
            // #box-4{
            //     width: 114px;
            //     height: 144px;   
            // }
            #box-2{
                grid-row: 1/4;
                grid-column: 2/4;
            }
            #box-5{
                grid-column: 4/1;
            }
        }
    }
}
.service{
    padding: 10px;
    .silder{
        position: relative;
        cursor: pointer;
        margin-bottom: 40px;
        .sider-box{
            width: auto;
            height: 300px;
            img{
                width: 100%;
                height: 100%;
                position: relative;
                z-index: -1;
            }
        }
        .sider-content{
            position: absolute;
            content: "";
            width: 80%;
            border: 1px solid black;
            background-color: var(--white);
            left: 0;
            bottom: -40px;
            right: 0;
            margin: auto;
            // height: 70px;    
            background-color: white;
            padding: 20px 10px;
            // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            h5{
                    text-transform: capitalize;
                    text-align: center;
                    font-size: 20px;
                    padding: 5px;
            }
            p{
                font-size: 11px;
                text-align: center;
                color: gray;
                    // padding: 5px;
            }
            a{
                text-decoration: none;
                display: block;
                text-align: center;
                color: black;
                font-size: 10px;
                padding: 5px;
                font-weight: 900;
            }
        }
    }
    .content-box{
        // border: 1px solid black;
        // padding: 20px;
        .our{
            padding: 10px;
            position: relative;
            font-size: 10px;
            &::after{
                position: absolute;
                content: "";
                bottom: 0px;
                left: 7px;
                border-radius: 20px;
                width: 56px;
                height: 4px;
                background-color: orange;
            }
        }
        h1{
            font-size: 20px;
            color: #053543;
            font-weight: 400;
            text-transform: capitalize;
            padding: 10px;
        }
        samp{
            display: block;
            font-size: 15px;
        }
        button{
            padding: 10px 13px;
            // margin: 10px 20px;
            display: block;
            margin: auto;
            margin-top: 20px;
            text-transform: capitalize;
            background-color: #053543;
            color: white;
            cursor: pointer;
            border-radius: 10px;
            border: none;
            &:hover{
                background-color: #053543c7;
            }
        }
        .s-a{
            // padding: 0px 50px 20px 20px;
        text-indent: 40px;
        text-align: start;
            color: gray;
            font-size: 10px;
        }
    }
}

// TOP FIT-PICKS! section design

.top{
    .swiper-slide {
        flex-shrink: 1;
        .top-box{
            // padding: 30px 0px;
            // width: 280px;
            // height: 280px;
            width: 170px;
            height: 179px;
            // border: 2px solid black;
            // margin: 10px;
            padding: 0px 10px;
            img{
                width: 100%;
                height: 100%;
            }    
        }
    }
}


//  bennersection design

.benner{
    position: relative;
    width: 100%;
    height: 100vh;
    .box-benner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 400px;
        background-color: #f5f5f5;
        box-shadow: 0px 30px 50px #dbdbdb;
        .slide{
            .item{
                width: 50px;
                height: 200px;
                position: absolute;
                top: 50%;
                transform: translate(0% , -50%);
                border-radius: 20px;
                box-shadow: 0px 30px 50px #505050;
                background-position: 50%;
                background-size: cover;
                display: inline-block;
                transition: 0.5s;
                &:nth-child(1),&:nth-child(2){
                    top: 0;
                    left: 0;
                    // right: 100px;
                    transform: translate(0,0);
                    border-radius: 0px;
                    width: 100%;
                    height: 100%;
                }
                &:nth-child(3){
                    left: 33%;
                    // padding: 10px;
                }
                &:nth-child(4){
                    left: calc(10% + 150px);
                }
                &:nth-child(5){
                    left: calc(20% + 190px);
                }
                &:nth-child(n + 6){
                    left: calc(50% + 400px);
                    opacity: 0;
                }
                &:nth-child(2){
                    .content{
                        display: block;
                    }
                }
                .content{
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    width: 100px;
                    text-align: left;
                    color: #eee;
                    transform: translate(0,-50%);
                    display: none;
                    .name{
                        font-size: 20px;
                        text-transform: uppercase;
                        font-weight: bold;
                        animation: animate 1s ease-in-out 1 forwards;
                    }
                    .des{
                        margin-top: 10px;
                        margin-bottom: 20px;
                        animation: animate 1s ease-in-out 0.3s forwards;
                        font-size: 10px;
                    }
                    button{
                        padding: 5px 10px;
                        border: none;
                        cursor: pointer;
                        animation: animate 1s ease-in-out 0.6s forwards;
                    }
                }
            }
            // .item2{
            //     display: none;
            // }
        }
        .button{
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: 20px;
            button{
                width: 40px;
                height: 35px;
                border-radius: 8px;
                cursor: pointer;
                margin: 0px 5px;
                border: 1px solid black;
                transition: 0.3s;
                &:hover{
                    background-color: #ababab;
                    color: #fff;
                }
            }
        }

    }
}
@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter: blur(33px);
    }
    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}
.bottomHeader{
    transform: scale(0);
    // left: 0px;
    width: 300px;
    height: 50px;
    background-color: #ffffff;
    margin: auto;
    position: fixed;
    bottom: 50px;
    right: 0px;
    left: 0px;
    z-index: 99;
    border-radius:20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 13px 10px;
    .bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        // text-align: center;
        // align-items: center;
        // margin: 12px 0px;
        li{
            a{
                color: black;
                i{
                    font-size: 20px;
                    // border-left: 1px solid black;
                }
            }
        }
    }

}
.active{
    transform: scale(1);
    // transition: all 0.3s ;
}

.otp{
    .otp-div{
        width: 400px;
        height: 400px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        padding: 20px;
        border-radius: 20px;
        padding-top: 40px;
        // text-align: ;
        h2{
            text-transform: uppercase;
        }
        p{
            font-size: 12px;
            padding: 10px 0px;
            // text-transform: capitalize;
        }
        input{
            width: 50px;
            height: 50px;
            text-align: center;
            margin: 20px 0px;
            margin-left:5px;
        }
        ::placeholder{
            font-size: 20px;
            color:gray;
        }
        .ver{
            input{
                width: 200px;
                height: 50px;
                display: block;
                border-radius: 10px;
                border: 1px solid black;
                margin: auto;
                margin-top: 20px;
                background-color: #FDF5E6;
                cursor: pointer;
                text-transform: uppercase;
                letter-spacing: 2px;
                transition: all 0.3s ;
                &:hover{
                    letter-spacing: 5px;
                    background-color:#f4e2c1 ;
                }
            }
        }
    }
}

.Email-Verify{
    width: 400px;
    height: 300px;
    background-color: #f4e2c1;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin: auto;
    border-radius: 10px;
    .email-box{
        padding: 20px;
        h1{
            text-transform: capitalize;
        }
        p{
            text-transform: capitalize;
            padding: 10px 40px 10px 15px;
            font-size: 15px;
        }
        input{
            display: block;
        }
        #email{
            width: 90%;
            padding: 15px 20px;
            border: 1px solid black;
            margin: 20px 0px;
            border-radius: 5px;
            margin-left: 20px;
            transition: all 0.4s;
            &:hover{
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            }
        }
        #button{
            padding: 15px 50px;
            display: block;
            margin: auto;
            border: 1px solid black;
            border-radius: 10px;
            text-transform: capitalize;
            background-color: #00c6ff;
            transition: all 0.3s;
            cursor: pointer;
            &:hover{
                background-color: #05a7ddd4;
                letter-spacing: 3px;
                color: white;
            }
        }
    }

}

.product{
    .product-box{
        display: flex;
        flex-wrap: wrap;
        // padding: 0px 10px;
        .img-box{
            border: 1px solid beige;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            padding: 20px;
            .img-area,.img-area4{
                position: relative;
                width: 100%;
                height: 200px;
                background-color: gray;
                margin-bottom: 20px;
                border-radius: 15px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                &::before{
                    content: attr(data-img);
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    // bottom: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #3a3c3d7e;
                    color: white;
                    font-weight: 500;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                        pointer-events: none;
                        opacity: 0;
                        transition: all 0.3s;
                        z-index: 200;
                }
                &.active{
                    &:hover{
                        &::before{
                            opacity: 1;
                        }
                    }
                }

                p{
                    font-size: 10px;
                    padding: 5px 0px;
                }
                h3{
                    font-size: 20px;
                    padding-top: 5px;
                }
                i{
                    padding-top: 20px;
                }
                img{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    object-fit: cover;
                    object-position: center;
                    z-index: 100;
                }
            }
            .select-image,.select-image2,.select-image3,.select-image4{
                display: block;
                margin: auto;
                margin-top: 20px;
                margin-bottom: 20px;
                padding: 10px 30px;
                border-radius: 5px;
                border: 1px solid black;
                background-color: #00c6ff;
                cursor: pointer;
            }

        }
    }
}