* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
}

.container {
  max-width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul, ol {
  list-style: none;
}

.justify-content {
  justify-content: space-between;
}

.align-items {
  align-items: center;
}

.padding {
  padding: 20px 0px;
}

a {
  text-decoration: none;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12 {
  padding: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(88, 86, 86);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #30ff00);
  border-radius: 16px;
}

.col-xs-1 {
  width: 8.333%;
}

.col-xs-2 {
  width: 16.666%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.333%;
}

.col-xs-5 {
  width: 41.666%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.333%;
}

.col-xs-8 {
  width: 66.666%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.333%;
}

.col-xs-11 {
  width: 91.666%;
}

.col-xs-12 {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.Signup {
  display: none;
  width: 350px;
  height: 600px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.372);
  position: fixed;
  top: 0px;
  left: -10px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  z-index: 9999999;
}
.Signup .Signup-close {
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
}
.Signup .signup-box {
  padding: 0px 20px;
}
.Signup .signup-box .hr {
  margin-bottom: 10px;
  width: 100%;
}
.Signup .signup-box h3 {
  text-align: center;
  margin: 10px;
  text-transform: uppercase;
}
.Signup .signup-box .form {
  padding: 20px;
}
.Signup .signup-box .form .input-div label {
  margin: 0px 10px;
  padding-left: 10px;
  font-size: 15px;
  text-transform: capitalize;
}
.Signup .signup-box .form .input-div input {
  width: 100%;
  padding: 10px;
  margin: 5px 0px 5px 10px;
  border: 1px solid black;
}
.Signup .signup-box .form .input-div input:focus {
  border: 2px solid green;
}
.Signup .signup-box .form .input-div .p-username {
  padding: 0px 20px;
  font-size: 10px;
  color: red;
  display: none;
}
.Signup .signup-box .form .input-div .p-email {
  padding: 0px 20px;
  font-size: 10px;
  color: red;
  display: none;
}
.Signup .signup-box .form .input-div .p-password {
  padding: 0px 20px;
  font-size: 10px;
  color: red;
  display: none;
}
.Signup .signup-box .form .input-checkbox {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.Signup .signup-box .form .input-checkbox .checkbox {
  display: flex;
  flex-wrap: nowrap;
  padding: 5px 15px;
}
.Signup .signup-box .form .input-checkbox .checkbox p {
  font-size: 12px;
  padding-left: 5px;
}
.Signup .signup-box .form .input-checkbox h6 {
  margin-right: 0px;
  color: blue;
  border-bottom: 1px solid blue;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 11px;
}
.Signup .signup-box .form .button {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 10px 50px;
  background-color: rgb(0, 72, 255);
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.Signup .other {
  margin-bottom: 10px;
}
.Signup .google {
  position: relative;
  width: 60%;
  margin: 10px 70px;
  margin-top: 0px;
}
.Signup .google input {
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  border: 1px solid black;
  cursor: pointer;
}
.Signup .google img {
  width: 25px;
  position: absolute;
  left: 5%;
  top: 0px;
  bottom: 0px;
  margin: auto;
}
.Signup .google p {
  position: absolute;
  left: 20%;
  top: 0px;
  bottom: 0px;
  font-size: 14px;
  text-align: center;
  padding: 5px 0px 0px 0px;
  text-transform: capitalize;
  cursor: pointer;
}
.Signup .loginLink {
  color: black;
  text-align: center;
  font-size: 12px;
  padding: 5px 0px;
  text-transform: capitalize;
}
.Signup .loginLink a {
  padding: 0px 5px;
  font-size: 14px;
  color: blue;
}

.Login {
  display: none;
  width: 350px;
  height: 600px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.372);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  z-index: 999999;
}
.Login .Login-close {
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
}
.Login .Login-box {
  padding: 20px 35px;
}
.Login .Login-box .hr {
  margin-bottom: 10px;
  width: 100%;
}
.Login .Login-box h3 {
  text-align: center;
  margin: 10px;
  text-transform: uppercase;
}
.Login .Login-box .Login-form {
  padding: 20px;
}
.Login .Login-box .Login-form .Login-div label {
  margin: 0px 10px;
  padding-left: 10px;
  font-size: 15px;
  text-transform: capitalize;
}
.Login .Login-box .Login-form .Login-div input {
  width: 100%;
  padding: 10px;
  margin: 5px 0px 5px 10px;
  border: 1px solid black;
}
.Login .Login-box .Login-form .Login-div input:focus {
  border: 2px solid green;
}
.Login .Login-box .Login-form .Login-checkbox {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.Login .Login-box .Login-form .Login-checkbox .checkbox {
  display: flex;
  flex-wrap: nowrap;
  padding: 5px 15px;
}
.Login .Login-box .Login-form .Login-checkbox .checkbox p {
  font-size: 12px;
  padding-left: 5px;
}
.Login .Login-box .Login-form .Login-checkbox h6 {
  margin-right: 0px;
  color: blue;
  border-bottom: 1px solid blue;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 11px;
}
.Login .Login-box .Login-form .Login-checkbox h6 a {
  text-decoration: none;
}
.Login .Login-box .Login-form .button {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 10px 50px;
  background-color: rgb(0, 72, 255);
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.Login .other {
  margin-bottom: 10px;
}
.Login .Login-google {
  position: relative;
  width: 60%;
  margin: 10px 70px;
  margin-top: 0px;
}
.Login .Login-google input {
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  border: 1px solid black;
  cursor: pointer;
}
.Login .Login-google img {
  width: 25px;
  position: absolute;
  left: 5%;
  top: 0px;
  bottom: 0px;
  margin: auto;
}
.Login .Login-google p {
  position: absolute;
  left: 20%;
  top: 0px;
  bottom: 0px;
  font-size: 14px;
  text-align: center;
  padding: 5px 0px 0px 0px;
  text-transform: capitalize;
  cursor: pointer;
}
.Login .SignupLink {
  color: black;
  text-align: center;
  font-size: 12px;
  padding: 5px 0px;
  text-transform: capitalize;
}
.Login .SignupLink a {
  padding: 0px 5px;
  font-size: 14px;
  color: blue;
}

header {
  background-color: #FDF5E6;
}
header .header-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 9999;
}
header .header-menu .logo {
  width: 50px;
  height: 50px;
}
header .header-menu .logo img {
  width: 80px;
}
header .header-menu .nav {
  position: absolute;
  top: 50px;
  right: 500px;
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.28);
  z-index: 9999999999;
  transition: all 0.3s;
}
header .header-menu .nav li {
  padding: 5px;
}
header .header-menu .nav .btn {
  cursor: pointer;
}
header .header-menu .nav .btn button {
  display: block;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #008CBA;
  margin: 10px 0px;
  text-transform: uppercase;
  color: white;
}
header .header-menu .nav .btn button:hover {
  background-color: #18abdc;
}
header .header-menu .nav .btn #logoutHeader {
  display: none;
}
header .header-menu .active {
  right: 0px;
  z-index: 99999;
}
header .header-menu .btn-login {
  transform: scale(0);
}
header .header-menu .btn-login #Signupbtn {
  display: inline-block;
}
header .header-menu .btn-login #Loginbtn {
  display: inline-block;
}
header .header-menu .btn-login #Logout {
  display: none;
}
header .header-menu .menu-icon {
  font-size: 20px;
  padding: 10px;
}
header .header-menu .menu-icon .fa-bars {
  display: block;
}
header .header-menu .menu-icon #H-xmark {
  display: none;
}

.col-xs-12 .box {
  border: 2px solid black;
  width: 100%;
}
.col-xs-12 .box .box-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 20px;
}
.col-xs-12 .box .box-grid .bo {
  border: 2px dotted red;
  padding: 60px;
}
.col-xs-12 .box .box-grid #box-2 {
  grid-row: 1/4;
  grid-column: 2/4;
}
.col-xs-12 .box .box-grid #box-5 {
  grid-column: 4/1;
}

.service {
  padding: 10px;
}
.service .silder {
  position: relative;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 40px;
}
.service .silder .sider-box {
  width: auto;
  height: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.service .silder .sider-box img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}
.service .silder .sider-box i {
  font-size: 100px;
  width: 100%;
  height: 200px;
  line-height: 200px;
  text-align: center;
  color: #00c6ff;
}
.service .silder .sider-box .Upload-ser {
  text-align: center;
  font-size: 20px;
  color: black;
}
.service .silder .sider-content {
  position: absolute;
  content: "";
  width: 80%;
  border: 1px solid black;
  background-color: var(--white);
  left: 0;
  bottom: -40px;
  right: 0;
  margin: auto;
  background-color: white;
  padding: 20px 10px;
}
.service .silder .sider-content h5 {
  text-transform: capitalize;
  text-align: center;
  font-size: 20px;
  padding: 5px;
}
.service .silder .sider-content p {
  font-size: 11px;
  text-align: center;
  color: gray;
}
.service .silder .sider-content a {
  text-decoration: none;
  display: block;
  text-align: center;
  color: black;
  font-size: 10px;
  padding: 5px;
  font-weight: 900;
}
.service .content-box .our {
  padding: 10px;
  position: relative;
  font-size: 10px;
}
.service .content-box .our::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 7px;
  border-radius: 20px;
  width: 56px;
  height: 4px;
  background-color: orange;
}
.service .content-box h1 {
  font-size: 20px;
  color: #053543;
  font-weight: 400;
  text-transform: capitalize;
  padding: 10px;
}
.service .content-box samp {
  display: block;
  font-size: 15px;
}
.service .content-box button {
  padding: 10px 13px;
  display: block;
  margin: auto;
  margin-top: 20px;
  text-transform: capitalize;
  background-color: #053543;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}
.service .content-box button:hover {
  background-color: rgba(5, 53, 67, 0.7803921569);
}
.service .content-box .s-a {
  text-indent: 40px;
  text-align: start;
  color: gray;
  font-size: 10px;
}

.top .swiper-slide {
  flex-shrink: 1;
}
.top .swiper-slide .top-box {
  width: 170px;
  height: 179px;
  padding: 0px 10px;
}
.top .swiper-slide .top-box img {
  width: 100%;
  height: 100%;
}

.benner {
  position: relative;
  width: 100%;
  height: 100vh;
}
.benner .box-benner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 400px;
  background-color: #f5f5f5;
  box-shadow: 0px 30px 50px #dbdbdb;
}
.benner .box-benner .slide .item {
  width: 50px;
  height: 200px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  border-radius: 20px;
  box-shadow: 0px 30px 50px #505050;
  background-position: 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}
.benner .box-benner .slide .item:nth-child(1), .benner .box-benner .slide .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0px;
  width: 100%;
  height: 100%;
}
.benner .box-benner .slide .item:nth-child(3) {
  left: 33%;
}
.benner .box-benner .slide .item:nth-child(4) {
  left: calc(10% + 150px);
}
.benner .box-benner .slide .item:nth-child(5) {
  left: calc(20% + 190px);
}
.benner .box-benner .slide .item:nth-child(n+6) {
  left: calc(50% + 400px);
  opacity: 0;
}
.benner .box-benner .slide .item:nth-child(2) .content {
  display: block;
}
.benner .box-benner .slide .item .content {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  display: none;
}
.benner .box-benner .slide .item .content .name {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  animation: animate 1s ease-in-out 1 forwards;
}
.benner .box-benner .slide .item .content .des {
  margin-top: 10px;
  margin-bottom: 20px;
  animation: animate 1s ease-in-out 0.3s forwards;
  font-size: 10px;
}
.benner .box-benner .slide .item .content button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  animation: animate 1s ease-in-out 0.6s forwards;
}
.benner .box-benner .button {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 20px;
}
.benner .box-benner .button button {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0px 5px;
  border: 1px solid black;
  transition: 0.3s;
}
.benner .box-benner .button button:hover {
  background-color: #ababab;
  color: #fff;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}
.bottomHeader {
  transform: scale(0);
  width: 300px;
  height: 50px;
  background-color: #ffffff;
  margin: auto;
  position: fixed;
  bottom: 50px;
  right: 0px;
  left: 0px;
  z-index: 99;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 13px 10px;
}
.bottomHeader .bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.bottomHeader .bottom li a {
  color: black;
}
.bottomHeader .bottom li a i {
  font-size: 20px;
}

.active {
  transform: scale(1);
}

.otp .otp-div {
  width: 400px;
  height: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  padding-top: 40px;
}
.otp .otp-div h2 {
  text-transform: uppercase;
}
.otp .otp-div p {
  font-size: 12px;
  padding: 10px 0px;
}
.otp .otp-div input {
  width: 50px;
  height: 50px;
  text-align: center;
  margin-top: 20px;
  margin-left: 5px;
}
.otp .otp-div ::-moz-placeholder {
  font-size: 20px;
  color: gray;
}
.otp .otp-div ::placeholder {
  font-size: 20px;
  color: gray;
}
.otp .otp-div .ver input {
  width: 200px;
  height: 50px;
  display: block;
  border-radius: 10px;
  border: 1px solid black;
  margin: auto;
  margin-top: 20px;
  background-color: #FDF5E6;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s;
}
.otp .otp-div .ver input:hover {
  letter-spacing: 5px;
  background-color: #f4e2c1;
}
.otp .otp-div .timer {
  margin-top: 10px;
  font-size: 15px;
}
.otp .otp-div .timer a:focus {
  color: red;
}
.otp .otp-div .timer a p {
  font-size: 15px;
}

.Email-Verify {
  width: 400px;
  height: 300px;
  background-color: #f4e2c1;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin: auto;
  border-radius: 10px;
}
.Email-Verify .email-box {
  padding: 20px;
}
.Email-Verify .email-box h1 {
  text-transform: capitalize;
}
.Email-Verify .email-box p {
  text-transform: capitalize;
  padding: 10px 40px 10px 15px;
  font-size: 15px;
}
.Email-Verify .email-box input {
  display: block;
}
.Email-Verify .email-box #email {
  width: 90%;
  padding: 15px 20px;
  border: 1px solid black;
  margin: 20px 0px;
  border-radius: 5px;
  margin-left: 20px;
  transition: all 0.4s;
}
.Email-Verify .email-box #email:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.Email-Verify .email-box #button {
  padding: 15px 50px;
  display: block;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  text-transform: capitalize;
  background-color: #00c6ff;
  transition: all 0.3s;
  cursor: pointer;
}
.Email-Verify .email-box #button:hover {
  background-color: rgba(5, 167, 221, 0.831372549);
  letter-spacing: 3px;
  color: white;
}

.product .product-box {
  display: flex;
  flex-wrap: wrap;
}
.product .product-box .img-box {
  border: 1px solid beige;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.product .product-box .img-box i {
  font-size: 25px;
}
.product .product-box .img-box .img-area, .product .product-box .img-box .img-area2, .product .product-box .img-box .img-area3, .product .product-box .img-box .img-area4 {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: gray;
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product .product-box .img-box .img-area::before, .product .product-box .img-box .img-area2::before, .product .product-box .img-box .img-area3::before, .product .product-box .img-box .img-area4::before {
  content: attr(data-img);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 60, 61, 0.4941176471);
  color: white;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s;
  z-index: 200;
}
.product .product-box .img-box .img-area.active:hover::before, .product .product-box .img-box .img-area2.active:hover::before, .product .product-box .img-box .img-area3.active:hover::before, .product .product-box .img-box .img-area4.active:hover::before {
  opacity: 1;
}
.product .product-box .img-box .img-area p, .product .product-box .img-box .img-area2 p, .product .product-box .img-box .img-area3 p, .product .product-box .img-box .img-area4 p {
  font-size: 10px;
  padding: 5px 0px;
}
.product .product-box .img-box .img-area h3, .product .product-box .img-box .img-area2 h3, .product .product-box .img-box .img-area3 h3, .product .product-box .img-box .img-area4 h3 {
  font-size: 20px;
  padding-top: 5px;
}
.product .product-box .img-box .img-area i, .product .product-box .img-box .img-area2 i, .product .product-box .img-box .img-area3 i, .product .product-box .img-box .img-area4 i {
  padding-top: 20px;
}
.product .product-box .img-box .img-area img, .product .product-box .img-box .img-area2 img, .product .product-box .img-box .img-area3 img, .product .product-box .img-box .img-area4 img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 100;
}
.product .product-box .img-box .select-image, .product .product-box .img-box .select-image2, .product .product-box .img-box .select-image3, .product .product-box .img-box .select-image4 {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #00c6ff;
  cursor: pointer;
}
.product .product-box .service-img-area {
  border: 1px solid beige;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  height: 200px;
  background-color: gray;
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product .product-box .service-img-area p {
  font-size: 10px;
}
.product .product-box .service-img-area i {
  font-size: 25px;
}
.product .product-box .service-img-area .select-image {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #00c6ff;
  cursor: pointer;
}
.product .product-box #ProductFrom {
  width: 100%;
  padding: 20px;
}
.product .product-box #ProductFrom .box-product {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
}
.product .product-box #ProductFrom .box-product label {
  padding-right: 10px;
}
.product .product-box #ProductFrom .box-product input {
  margin: 20px 0px;
  display: block;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: end;
}
.product .product-box #ProductFrom #ProductSubmit {
  padding: 10px 30px;
  display: block;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  background-color: #008CBA;
  border: 1px solid black;
  border-radius: 2px;
  color: white;
  text-transform: capitalize;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}
.product .product-box #ProductFrom #ProductSubmit:hover {
  background-color: #00c6ff;
  color: black;
}
.product .product-box #ProductFrom textarea {
  position: relative;
  margin: 0px 0px 0px 90px;
}
.product .product-box #ProductFrom .desc {
  position: absolute;
  top: 0px;
}
.product .product-box .Upload {
  width: 600px;
  height: 100vh;
  padding: 20px;
}
.product .product-box .Upload .box-product {
  display: flex;
  flex-wrap: nowrap;
  margin: 10px;
}
.product .product-box .Upload .box-product label samp {
  font-size: 20px;
  font-weight: 900;
  margin: 0px 10px;
}
.product .product-box .Upload .box-product label .ServiceT {
  margin-left: 50px;
}
.product .product-box .Upload .box-product input, .product .product-box .Upload .box-product textarea {
  width: 60%;
  margin: 0px 10px;
}
.product .product-box .Upload #UploadServicebtn {
  padding: 10px 30px;
  background-color: #008CBA;
  border: none;
  border-radius: 10px;
  color: white;
  display: block;
  margin: auto;
  margin-top: 40px;
}
.product .product-box .title {
  font-size: 10px;
}

.filter {
  float: left;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 80px;
  height: 40px;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  margin: 0px 10px;
  margin-right: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  position: relative;
}
.filter .filter-heading {
  padding-top: 10px;
  font-size: 15px;
}
.filter .filter-box {
  width: 100%;
  height: 0vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  text-transform: uppercase;
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 9999;
}
.filter .filter-box i {
  margin: 0px 3px;
}
.filter .filter-s {
  position: absolute;
  top: 50px;
  z-index: 999999999999999;
  display: none;
  font-size: 10px;
}
.filter .filter-s .price-filter {
  display: flex;
  flex-direction: column;
}
.filter .filter-s .price-filter .price-box {
  display: flex;
  flex-wrap: nowrap;
  padding: 5px;
}
.filter .filter-s .price-filter .price-box h6 {
  margin: 0px 5px;
}
.filter .filter-s .price-filter input {
  display: block;
}
.filter:hover {
  border-radius: 10px 10px 0px 0px;
}
.filter:hover .filter-box {
  transition: all 0.3s;
  height: 100vh;
}
.filter:hover .filter-s {
  display: block;
}

.Singlepage .img_box {
  width: 100%;
}
.Singlepage .img_box .mainImg {
  width: 100%;
  height: 100%;
}
.Singlepage .img_box .sub_img {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Singlepage .img_box .sub_img .sub_img1, .Singlepage .img_box .sub_img .sub_img2, .Singlepage .img_box .sub_img .sub_img3 {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  padding: 5px;
}
.Singlepage .SinglePageContent {
  padding: 10px 20px;
}
.Singlepage .SinglePageContent .priceAndRevi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
}
.Singlepage .SinglePageContent .priceAndRevi .stock {
  display: inline-block;
  padding: 10px 0px;
}
.Singlepage .SinglePageContent .btn {
  margin-top: 30px;
}
.Singlepage .SinglePageContent .btn button {
  display: block;
  width: 250px;
  padding: 15px 0px;
  margin: auto;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.Singlepage .SinglePageContent .btn .addToCart {
  background-color: black;
  color: white;
  transition: all 0.2s ease-in-out;
}
.Singlepage .SinglePageContent .btn .addToCart:hover {
  background-color: white;
  color: black;
}
.Singlepage .SinglePageContent .btn .buy {
  background-color: #00c6ff;
  color: white;
  transition: all 0.1s ease-in;
}
.Singlepage .SinglePageContent .btn .buy:hover {
  background-color: #008CBA;
}
.Singlepage .SinglePageContent .des {
  color: gray;
  padding: 30px 0px;
  line-height: 30px;
}
.Singlepage .SinglePageContent .category {
  color: rgb(135, 135, 135);
}

.rating-section {
  padding: 20px;
  padding-top: 50px;
  margin: 50px;
}
.rating-section .rating-box {
  text-align: center;
}
.rating-section .rating-box .ratingbtn {
  display: block;
  width: 200px;
  padding: 10px;
  text-transform: capitalize;
  background-color: #339999;
  color: white;
  letter-spacing: 2px;
  border: 2px solid #339999;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.rating-section .rating-box .Cancel_Review {
  display: none;
  margin: auto;
  width: 200px;
  padding: 10px;
  text-transform: capitalize;
  background-color: #339999;
  color: white;
  letter-spacing: 2px;
  border: 2px solid #339999;
  margin-top: 10px;
  margin-bottom: 20px;
}
.rating-section #ratingform {
  display: block;
  text-align: center;
  margin: 20px;
  display: none;
}
.rating-section #ratingform label {
  text-align: center;
}
.rating-section #ratingform i {
  font-size: 25px;
  color: #339999;
  margin: 20px 0px;
  cursor: pointer;
}
.rating-section #ratingform .star:hover {
  transform: scale(1.1);
}
.rating-section #ratingform .activ {
  opacity: 0;
  animation: animate 0.5s ease-in-out forwards;
}
.rating-section #ratingform .rating-title label {
  display: inline-block;
  margin: 10px;
  margin-bottom: 20px;
}
.rating-section #ratingform .rating-title input {
  width: 500px;
  padding: 10px;
  margin-bottom: 20px;
}
.rating-section #ratingform .rating-des {
  position: relative;
}
.rating-section #ratingform .rating-des label {
  display: inline-block;
  margin: 10px;
  margin-bottom: 20px;
}
.rating-section #ratingform .rating-des textarea {
  padding: 0px 20px;
  width: 500px;
}
.rating-section #ratingform #ratingSubmit {
  width: 150px;
  padding: 10px;
  margin-top: 30px;
  background-color: #339999;
  color: white;
  border: 1px solid #339999;
  cursor: pointer;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.user_profile {
  position: relative;
  border: 1px solid green;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}
.user_profile .user_img {
  width: 70px;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.user_profile .user_img img {
  width: 100%;
  height: 100%;
  padding: 5px;
  -o-object-fit: contain;
     object-fit: contain;
}
.user_profile .user_img h2 {
  font-size: 15px;
  padding: 10px;
  padding-left: 0px;
  padding-right: 4px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.user_profile .user_img i {
  padding: 10px 0px;
  font-size: 15px;
}
.user_profile .profile_aside {
  position: absolute;
  right: 0px;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 0px;
  border-radius: 30px;
  visibility: hidden;
  overflow: hidden;
}
.user_profile .profile_aside ul {
  visibility: hidden;
}
.user_profile .profile_aside ul a li {
  padding: 5px 10px;
  background-color: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin: 2px 0px;
  transition: all 0.3s;
  color: black;
  overflow: hidden;
}
.user_profile .profile_aside ul a li:hover {
  cursor: pointer;
  padding-left: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.user_profile .profile_aside ul .cart {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.user_profile .profile_aside ul .cart li h6 {
  display: inline;
  padding-right: 65px;
  padding-left: 10px;
  font-size: 18px;
  color: #00c6ff;
  overflow: hidden;
}
.user_profile .profile_aside ul #Logout {
  border-top: 1px solid black;
}
.user_profile:hover .profile_aside {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
  visibility: visible;
  top: 50px;
  left: 0px;
  width: 150px;
  height: auto;
  overflow: hidden;
}
.user_profile:hover ul {
  visibility: visible;
}

.cart table {
  border: 1px solid black;
  padding: 5px;
}
.cart table thead {
  background-color: cadetblue;
}
.cart table thead th {
  padding: 5px 20px;
  border: 1px solid black;
  font-size: 14px;
}
.cart table thead th span {
  display: block;
}
.cart table tbody tr td {
  border: 1px solid black;
  padding: 0px 0px 0px 5px;
}
.cart table tbody tr .ImgTd {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
.cart table tbody tr .ImgTd img {
  padding: 5px;
  width: 100%;
  height: 100%;
}
.cart table tbody tr .Quantity {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 25px 0px;
}
.cart table tbody tr .Quantity .fa-minus, .cart table tbody tr .Quantity .fa-trash, .cart table tbody tr .Quantity .fa-plus {
  cursor: pointer;
}

.overly {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.358);
  position: fixed;
  top: 0px;
  display: none;
}
.overly .address {
  width: 400px;
  height: auto;
  background-color: #fff;
  padding: 20px;
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  margin: auto;
}
.overly .address form {
  width: 100%;
}
.overly .address form .information-box, .overly .address form .shipping-box {
  width: 300px;
  text-transform: capitalize;
}
.overly .address form .information-box h2, .overly .address form .shipping-box h2 {
  padding: 5px 0px;
  font-weight: 500;
  display: inline-block;
  font-size: 20px;
}
.overly .address form .information-box input, .overly .address form .shipping-box input {
  width: 100%;
  padding: 8px;
  margin: 5px;
}
.overly .address form .shipping-name, .overly .address form .shipping-city, .overly .address form .shipping-state {
  display: flex;
  flex-wrap: nowrap;
}
.overly .address form .shipping-name input, .overly .address form .shipping-city input, .overly .address form .shipping-state input {
  width: 50%;
  margin: 5px;
}
.overly .address form .shipping-name select, .overly .address form .shipping-city select, .overly .address form .shipping-state select {
  width: 50%;
  padding: 10px;
  margin: 5px;
}
.overly .address form button {
  display: block;
  margin: 10px;
  padding: 10px 30px;
  background-color: #00c6ff;
  border: 1px solid #00c6ff;
  cursor: pointer;
}
.overly .address form button:hover {
  transition: all 0.2s;
  background-color: #1dbaee;
  color: white;
}
.overly .address form .pay_product {
  display: none;
  width: 600px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.overly .address form .pay_product label, .overly .address form .pay_product input {
  margin: 5px;
}
.overly .address form .pay_product span {
  margin: 0px 12px;
  font-weight: 700;
}
.overly .address form .pay_product .P_span {
  margin-left: 30px;
}
.overly .address form .pay_product .price_span {
  margin-left: 37px;
}
.overly .address form .pay_product .total_span {
  margin-left: 57px;
}
.overly .address form .Pay {
  padding: 10px;
  margin-top: 20px;
  display: none;
  cursor: pointer;
}
.overly .address .fa-xmark {
  cursor: pointer;
}

.bottom_border {
  border-bottom: 2px solid black;
}

.Myorder {
  width: 60%;
}
.Myorder .Order_filter {
  width: 100%;
  margin: 20px;
}
.Myorder .Order_filter h6 {
  font-size: 15px;
  margin: 0px 10px;
  text-transform: capitalize;
  cursor: pointer;
  display: inline;
}
.Myorder .padding-order table {
  border: 1px solid black;
}
.Myorder .padding-order table thead th {
  padding: 15px 20px;
  border: 1px solid black;
  text-align: center;
}
.Myorder .padding-order table thead .action {
  padding: 30px;
  display: none;
}
.Myorder .padding-order table thead .payment {
  padding: 30px;
  display: none;
}
.Myorder .padding-order table .tbody tr td {
  padding: 5px 10px;
  border: 1px solid black;
}
.Myorder .padding-order table .tbody tr td .Myorder_img {
  width: 50px;
  height: 50px;
  text-align: center;
  margin: auto;
}
.Myorder .padding-order table .tbody tr .contectTd td {
  padding: 5px;
  margin: 5px;
  display: block;
}
.Myorder .padding-order table .tbody tr .address {
  width: 200px;
}
.Myorder .padding-order table .tbody tr .orderStatus {
  text-align: center;
  color: orange;
}
.Myorder .padding-order table .tbody tr .paymentTD {
  color: green;
}
.Myorder .padding-order table .tbody tr .actionbtn {
  display: flex;
  flex-wrap: nowrap;
  padding: 40px 0px;
}
.Myorder .padding-order table .tbody tr .actionbtn button {
  padding: 5px 10px;
  margin: 0px 5px;
  text-transform: capitalize;
  cursor: pointer;
}
.Myorder .padding-order table .tbody tr .actionbtn .rejectbtn {
  background-color: red;
  color: white;
  border: 1px solid red;
}
.Myorder .padding-order table .tbody tr .actionbtn .rejectbtn:hover {
  background-color: rgb(244, 84, 84);
}
.Myorder .padding-order table .tbody tr .actionbtn .accept {
  background-color: #30ff00;
  border: 1px solid black;
}
.Myorder .padding-order table .tbody tr .actionbtn .accept:hover {
  background-color: #31e609;
}/*# sourceMappingURL=style.css.map */