* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul, ol {
  list-style: none;
}

.justify-content {
  justify-content: space-between;
}

.align-items {
  align-items: center;
}

.padding {
  padding: 20px 0px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12 {
  padding: 10px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(88, 86, 86);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #30ff00);
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #00c6ff);
}

.col-xs-1 {
  width: 8.333%;
}

.col-xs-2 {
  width: 16.666%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.333%;
}

.col-xs-5 {
  width: 41.666%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.333%;
}

.col-xs-8 {
  width: 66.666%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.333%;
}

.col-xs-11 {
  width: 91.666%;
}

.col-xs-12 {
  width: 100%;
}

header {
  background-color: #FDF5E6;
}
header .header-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
header .header-menu .logo {
  width: 50px;
  height: 50px;
}
header .header-menu .logo img {
  width: 80px;
}
header .header-menu .nav {
  position: absolute;
  top: 50px;
  right: 500px;
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.28);
  transition: all 0.3s;
}
header .header-menu .nav li {
  padding: 5px;
}
header .header-menu .nav .btn button {
  display: block;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #008CBA;
  margin: 10px 0px;
  text-transform: uppercase;
  color: white;
}
header .header-menu .nav .btn button:hover {
  background-color: #18abdc;
}
header .header-menu .active {
  right: 0px;
}
header .header-menu .btn-login {
  transform: scale(0);
}
header .header-menu .menu-icon {
  font-size: 20px;
  padding: 10px;
}

.col-xs-12 .box {
  border: 2px solid black;
  width: 100%;
}
.col-xs-12 .box .box-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 20px;
}
.col-xs-12 .box .box-grid .bo {
  border: 2px dotted red;
  padding: 60px;
}
.col-xs-12 .box .box-grid #box-2 {
  grid-row: 1/4;
  grid-column: 2/4;
}
.col-xs-12 .box .box-grid #box-5 {
  grid-column: 4/1;
}

.service {
  padding: 10px;
}
.service .silder {
  position: relative;
  cursor: pointer;
  margin-bottom: 40px;
}
.service .silder .sider-box {
  width: auto;
  height: 300px;
}
.service .silder .sider-box img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}
.service .silder .sider-content {
  position: absolute;
  content: "";
  width: 80%;
  border: 1px solid black;
  background-color: var(--white);
  left: 0;
  bottom: -40px;
  right: 0;
  margin: auto;
  background-color: white;
  padding: 20px 10px;
}
.service .silder .sider-content h5 {
  text-transform: capitalize;
  text-align: center;
  font-size: 20px;
  padding: 5px;
}
.service .silder .sider-content p {
  font-size: 11px;
  text-align: center;
  color: gray;
}
.service .silder .sider-content a {
  text-decoration: none;
  display: block;
  text-align: center;
  color: black;
  font-size: 10px;
  padding: 5px;
  font-weight: 900;
}
.service .content-box .our {
  padding: 10px;
  position: relative;
  font-size: 10px;
}
.service .content-box .our::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 7px;
  border-radius: 20px;
  width: 56px;
  height: 4px;
  background-color: orange;
}
.service .content-box h1 {
  font-size: 20px;
  color: #053543;
  font-weight: 400;
  text-transform: capitalize;
  padding: 10px;
}
.service .content-box samp {
  display: block;
  font-size: 15px;
}
.service .content-box button {
  padding: 10px 13px;
  display: block;
  margin: auto;
  margin-top: 20px;
  text-transform: capitalize;
  background-color: #053543;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}
.service .content-box button:hover {
  background-color: rgba(5, 53, 67, 0.7803921569);
}
.service .content-box .s-a {
  text-indent: 40px;
  text-align: start;
  color: gray;
  font-size: 10px;
}

.top .swiper-slide {
  flex-shrink: 1;
}
.top .swiper-slide .top-box {
  width: 170px;
  height: 179px;
  padding: 0px 10px;
}
.top .swiper-slide .top-box img {
  width: 100%;
  height: 100%;
}

.benner {
  position: relative;
  width: 100%;
  height: 100vh;
}
.benner .box-benner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 400px;
  background-color: #f5f5f5;
  box-shadow: 0px 30px 50px #dbdbdb;
}
.benner .box-benner .slide .item {
  width: 50px;
  height: 200px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  border-radius: 20px;
  box-shadow: 0px 30px 50px #505050;
  background-position: 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}
.benner .box-benner .slide .item:nth-child(1), .benner .box-benner .slide .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0px;
  width: 100%;
  height: 100%;
}
.benner .box-benner .slide .item:nth-child(3) {
  left: 33%;
}
.benner .box-benner .slide .item:nth-child(4) {
  left: calc(10% + 150px);
}
.benner .box-benner .slide .item:nth-child(5) {
  left: calc(20% + 190px);
}
.benner .box-benner .slide .item:nth-child(n+6) {
  left: calc(50% + 400px);
  opacity: 0;
}
.benner .box-benner .slide .item:nth-child(2) .content {
  display: block;
}
.benner .box-benner .slide .item .content {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  display: none;
}
.benner .box-benner .slide .item .content .name {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  animation: animate 1s ease-in-out 1 forwards;
}
.benner .box-benner .slide .item .content .des {
  margin-top: 10px;
  margin-bottom: 20px;
  animation: animate 1s ease-in-out 0.3s forwards;
  font-size: 10px;
}
.benner .box-benner .slide .item .content button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  animation: animate 1s ease-in-out 0.6s forwards;
}
.benner .box-benner .button {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 20px;
}
.benner .box-benner .button button {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0px 5px;
  border: 1px solid black;
  transition: 0.3s;
}
.benner .box-benner .button button:hover {
  background-color: #ababab;
  color: #fff;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}
.bottomHeader {
  transform: scale(0);
  width: 300px;
  height: 50px;
  background-color: #ffffff;
  margin: auto;
  position: fixed;
  bottom: 50px;
  right: 0px;
  left: 0px;
  z-index: 99;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 13px 10px;
}
.bottomHeader .bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.bottomHeader .bottom li a {
  color: black;
}
.bottomHeader .bottom li a i {
  font-size: 20px;
}

.active {
  transform: scale(1);
}/*# sourceMappingURL=style.css.map */