<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
       let UserID=document.cookie.split(";")[2].split("=")[1]

         const cartA=()=>{
        fetch("http://localhost:8090/allCart",{
            method:"POST",
            headers:{'content-type':"application/json"},
            body:JSON.stringify({userId:UserID})
        })
        .then((res)=>res.json())
        .then((data)=>{
            console.log("cart",data);
        })
    }
    cartA()
    </script>
</body>
</html>