<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List Out</title>
    <style>
        @import url(../Css/all.min.css);
        @import url(../Css/style.css);
        @import url(../Css/media.css);
    </style>
</head>
<body>
    <section class="product">
        <div class="container">
            <div class="product-box">
                <div class="col-xl-3">
                    <div class="img-box" >
                        
                        <div class="img-area active" data-img="">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                            <h3>Upload Image</h3>
                            <p>Image sizemust be less then <span>2MB</span></p>
                            <!-- <img src="" alt=""> -->
                        </div>
                        <button class="select-image">select image</button>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="img-box">
                        <div class="img-area2">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                            <h3>Upload Image</h3>
                            <p>Image sizemust be less then <span>2MB</span></p>
                        </div>
                        <button class="select-image2">select image</button>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="img-box">
                        <div class="img-area3">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                            <h3>Upload Image</h3>
                            <p>Image sizemust be less then <span>2MB</span></p>
                        </div>
                        <button class="select-image3">select image</button>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="img-box">
                        <div class="img-area4">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                            <h3>Upload Image</h3>
                            <p>Image sizemust be less then <span>2MB</span></p>
                        </div>
                        <button class="select-image4">select image</button>
                    </div>
                </div> 
                <form action="http://localhost:8090/productAdd" method="POST" id="ProductFrom">
                    <input type="file" name="main" id="file" style="display: none;">
                    <input type="file" name="sub1" id="file2" style="display: none;">
                    <input type="file" name="sub2" id="file3" style="display: none;">
                    <input type="file" name="sub3" id="file4" style="display: none;">
                    <div class="box-product">
                        <label for="">TITLE</label>
                        <input type="text" name="title" id="" placeholder="Enter A title">
                    </div>
                    <div class="box-product">
                        <label for="">price</label>
                        <input type="number" name="price" placeholder="Enter A price">
                    </div>
                    <div class="box-product">
                        <label for="">description</label>
                        <input type="text" name="desc" id="desc" placeholder="Enter Product description">
                    </div>
                    <div class="box-product">
                        <label for="">stock</label>
                        <input type="number" name="stock" id="stock" placeholder="Enter Stock">
                    </div>

                    <input type="submit" name="" id="ProductSubmit" value="submit">
                </form> 
            </div>
        </div>
    </section>
    <script>
        let img_area=document.querySelector(".img-area")
        let img_area2=document.querySelector(".img-area2")
        let img_area3=document.querySelector(".img-area3")
        let img_area4=document.querySelector(".img-area4")
        
        
        
        
        let main=document.getElementById("file")
        document.querySelector(".select-image").addEventListener("click",(e)=>{
            e.preventDefault()
            main.click()
        })
        main.addEventListener("change",function (e){
            e.preventDefault()
            const image=this.files[0]
            const reader=new FileReader();
            reader.onload=()=>{
                const allImg=img_area.querySelectorAll("img")
                allImg.forEach(item => item.remove())
                const imgUrl=reader.result;
                const img=document.createElement("img")
                img.src=imgUrl;
                img_area.appendChild(img)
                img_area.classList.add("active")
                img_area.dataset.img=image.name;
            }
            reader.readAsDataURL(image)
        })

        let sub2=document.getElementById("file2")
        document.querySelector(".select-image2").addEventListener("click",(e)=>{
            sub2.click()
        })
        sub2.addEventListener("change",function(){
            const image=this.files[0]
            const reader=new FileReader();
            reader.onload=()=>{
                const allImg=img_area2.querySelectorAll("img")
                allImg.forEach(item => item.remove())
                const imgUrl=reader.result;
                const img=document.createElement("img")
                img.src=imgUrl;
                img_area2.appendChild(img)
                img_area2.classList.add("active")
                img_area2.dataset.img=image.name;
            }
            reader.readAsDataURL(image)  
        })
    
        let sub3=document.getElementById("file3")
        document.querySelector(".select-image3").addEventListener("click",()=>{
            sub3.click()
        })
        sub3.addEventListener("change",function (e){
            e.preventDefault()
            const image=this.files[0]
            // console.log(image);
            const reader=new FileReader();
            reader.onload=()=>{
                const allImg=img_area3.querySelectorAll("img")
                allImg.forEach(item => item.remove())
                const imgUrl=reader.result;
                const img=document.createElement("img")
                img.src=imgUrl;
                img_area3.appendChild(img)
                img_area3.classList.add("active")
                img_area3.dataset.img=image.name;
            }
            reader.readAsDataURL(image)
        })

        // let sub4=document.getElementById("file4")

        // document.querySelector(".select-image4").addEventListener("click",()=>{
        //     sub4.click()
        // })
        // sub4.addEventListener("change",function (e){
        //     e.preventDefault()
        //     const image=this.files[0]
        //     console.log(image);
        //     const reader=new FileReader();
        //     reader.onload=()=>{
        //         const allImg=img_area.querySelectorAll("img")
        //         allImg.forEach(item => item.remove())
        //         const imgUrl=reader.result;
        //         const img=document.createElement("img")
        //         img.src=imgUrl;
        //         img_area4.appendChild(img)
        //         img_area4.classList.add("active")
        //         img_area4.dataset.img=image.name;
        //     }
        //     reader.readAsDataURL(image)
        // })
        // // document.getElementById("productAdd").addEventListener("submit",(e)=>{
        //     e.preventDefault()
        //     let obj={
        //         inp:document.getElementById("file").value
        //     }
        //         fetch("http://localhost:8090/productAdd",{
        //     method:"POST",
        //     headers:{"content-type":"application/json"},
        //     body:JSON.stringify(obj)
        //     })
        // })
    </script>
</body>
</html>