<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List Out</title>
    <style>
        @import url(../Css/all.min.css);
        @import url(../Css/style.css);
        @import url(../Css/media.css);
        .category-append{
            display: flex;
            flex-wrap: nowrap;
            padding: 10px 0px;
            
        }
    </style>
</head>
<body>
    <section class="product">
        <div class="container">
            <div class="product-box">
                <div class="col-xl-3">
                    <div class="img-box">
                        <div class="img-area active" data-img="">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                            <h3>Upload Image</h3>
                            <p>Image sizemust be less then <span>2MB</span></p>
                            <!-- <img src="" alt=""> -->
                        </div>
                        <button class="select-image">select image</button>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="img-box">
                        <div class="img-area2">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                            <h3>Upload Image</h3>
                            <p>Image sizemust be less then <span>2MB</span></p>
                        </div>
                        <button class="select-image2">select image</button>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="img-box">
                        <div class="img-area3">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                            <h3>Upload Image</h3>
                            <p>Image sizemust be less then <span>2MB</span></p>
                        </div>
                        <button class="select-image3">select image</button>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="img-box">
                        <div class="img-area4">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                            <h3>Upload Image</h3>
                            <p>Image sizemust be less then <span>2MB</span></p>
                        </div>
                        <button class="select-image4">select image</button>
                    </div>
                </div> 
                <form action=""  id="ProductFrom">
                    <input type="file" name="img" id="file" style="display: none;">
                    <input type="file" name="img" id="file2" style="display: none;">
                    <input type="file" name="img" id="file3" style="display: none;">
                    <input type="file" name="img" id="file4" style="display: none;">
                    <div class="box-product">
                        <label for="">TITLE</label>
                        <input type="text" name="title" id="title" placeholder="Enter A title">
                    </div>
                    <div class="box-product">
                        <label for="">price</label>
                        <input type="number" name="price" id="price" placeholder="Enter A price">
                    </div>
                    <div class="category-append">
                        <label for="">category :</label>
                    </div>
                    <!-- <div class="box-product">
                        <label for="" class="desc">description</label>
                    </div> -->
                    <div class="box-product">
                        <label for="" class="desc">description</label>
                        <textarea name="desc" id="desc" cols="150" rows="10"></textarea>
                    </div>
                    <div class="box-product">
                        <label for="">stock</label>
                        <select name="stock" id="stock">
                            <option value=" "></option>
                            <option value="available">available</option>
                            <option value="Notavailable">Not available</option>
                        </select>
                        
                    </div>

                    <input type="submit" name="" id="ProductSubmit" value="submit">
                </form> 
            </div>
        </div>
    </section>
    <script>
        let categoryName;

        // Img Preview Box Value

        let img_area=document.querySelector(".img-area")
        let img_area2=document.querySelector(".img-area2")
        let img_area3=document.querySelector(".img-area3")
        let img_area4=document.querySelector(".img-area4")
        
        // Img Input Teg value

        let main=document.getElementById("file")
        let sub1=document.getElementById("file2")       
        let sub2=document.getElementById("file3")
        let sub3=document.getElementById("file4")

        
        // First Box Button Secelet Image Click Event 

        document.querySelector(".select-image").addEventListener("click",(e)=>{
            e.preventDefault()
            main.click()
        })

        // First Image Select In First Box Preview Start

        main.addEventListener("change",function (e){
            e.preventDefault()
            const image=this.files[0]
            const reader=new FileReader();
            console.log(reader);
            reader.onload=()=>{
                const allImg=img_area.querySelectorAll("img")
                allImg.forEach(item => item.remove())
                const imgUrl=reader.result;
                const img=document.createElement("img")
                img.src=imgUrl;
                img_area.appendChild(img)
                img_area.classList.add("active")
                img_area.dataset.img=image.name;
            }
            reader.readAsDataURL(image)
        })

        // First Image Select In First Box Preview Close
        // Second Box Button Secelet Image Click Event 

        
        document.querySelector(".select-image2").addEventListener("click",(e)=>{
            sub1.click()
        })

        // Second Image Select In First Box Preview Start

        sub1.addEventListener("change",function(){
            const image=this.files[0]
            const reader=new FileReader();
            reader.onload=()=>{
                const allImg=img_area2.querySelectorAll("img")
                allImg.forEach(item => item.remove())
                const imgUrl=reader.result;
                const img=document.createElement("img")
                img.src=imgUrl;
                img_area2.appendChild(img)
                img_area2.classList.add("active")
                img_area2.dataset.img=image.name;
            }
            reader.readAsDataURL(image)  
        })

        // Second Image Select In First Box Preview Close
        // Third Box Button Secelet Image Click Event 
    
        document.querySelector(".select-image3").addEventListener("click",()=>{
            sub2.click()
        })

        // Third Image Select In First Box Preview Start

        sub2.addEventListener("change",function (e){
            e.preventDefault()
            const image=this.files[0]
            const reader=new FileReader();
            reader.onload=()=>{
                const allImg=img_area3.querySelectorAll("img")
                allImg.forEach(item => item.remove())
                const imgUrl=reader.result;
                const img=document.createElement("img")
                img.src=imgUrl;
                img_area3.appendChild(img)
                img_area3.classList.add("active")
                img_area3.dataset.img=image.name;
            }
            reader.readAsDataURL(image)
        })
         // Third Image Select In First Box Preview Close
        // Four Box Button Secelet Image Click Event 
    
        document.querySelector(".select-image4").addEventListener("click",()=>{
            sub3.click()
        })

        // Four Image Select In First Box Preview Start

        sub3.addEventListener("change",function (e){
            e.preventDefault()
            const image=this.files[0]
            const reader=new FileReader();
            reader.onload=()=>{
                const allImg=img_area4.querySelectorAll("img")
                allImg.forEach(item => item.remove())
                const imgUrl=reader.result;
                const img=document.createElement("img")
                img.src=imgUrl;
                img_area4.appendChild(img)
                img_area4.classList.add("active")
                img_area4.dataset.img=image.name;
            }
            reader.readAsDataURL(image)
        })




        document.getElementById("ProductFrom").addEventListener("submit",(e)=>{
            e.preventDefault()
            let data={
                img:document.getElementById("file").value,
                img2:document.getElementById("file2").value,
                img3:document.getElementById("file3").value,
                img4:document.getElementById("file4").value,
            }
            
            let formdata=new FormData()
        formdata.append("img",document.getElementById("file").files[0])
        formdata.append("img",document.getElementById("file2").files[0])
        formdata.append("img",document.getElementById("file3").files[0])
        formdata.append("img",document.getElementById("file4").files[0])
        formdata.append("title",document.getElementById("title").value)
        formdata.append("price",document.getElementById("price").value)
        formdata.append("desc",document.getElementById("desc").value)
        formdata.append("stock",document.getElementById("stock").value)
        formdata.append("category",document.getElementById(`${categoryName}`).value)
        fetch("http://localhost:8090/productAdd",{
            method:"POST",
            body:formdata
        })

        })
        
        const categoryDisplay=(data)=>{
            console.log(data);
            data.forEach((ele)=>{
                let div=document.createElement("div")
                div.setAttribute("class","row")
                div.style="margin: 0px 10px;"
                let input=document.createElement("input")
                input.setAttribute("type","radio")
                input.setAttribute("name","category")
                input.setAttribute("id",`${ele.title}`)

                input.setAttribute("value",`${ele.title}`)
                input.addEventListener("click",(e)=>{
                    categoryName=ele.title
                    // console.log(ele.title);
                })

                let p=document.createElement("p")
                p.innerHTML=ele.title
                div.append(input,p)
                document.querySelector(".category-append").append(div)
            })
        }
       
        const category=()=>{
            fetch("http://localhost:8090/AllSerices")
            .then((res)=>res.json())
            .then((data)=>{
                categoryDisplay(data)
            })
        }
        category()

    </script>
</body>
</html>